{% extends "blog/base.html" %}
{% block content %}
      
        <!-- Single News Start-->
        <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sn-container">
                            <div class="android12">
                                <img src="/media/news/android12.png" width="400px">
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">Latest News Happend Around The World</h1>
                                <p>
                                    It will be a while before we know for sure when Android 12 for Samsung Galaxy phones and tablets will arrive. Samsung will bundle it with a new One UI update. The company will also take its time in confirming which of its devices will be compatible with Android 12.

A lot more devices will now receive this latest iteration of the Android operating system. That’s because Samsung has committed to providing three years of Android OS upgrades to its smartphones. All of these phones will thus be eligible for Android 12.

Best Android 12 features
There is already some information about what we can expect from Android 12. Google has released several developer previews of its next major update already. While a more detailed assessment of the best Android 12 features can only be made after the public release, here are a few noteworthy features.

Android 12 will enable easier Wi-Fi sharing through the Nearby Share feature. New screenshot markup options have also been added. This will prevent a lot of people from having to download third-party apps for making minor customizations to their screenshots.

Support for the AVIF image format certainly ranks among one of the best Android 12 features. This format promises improved quality over JPEG without significantly increasing file sizes. A transcoding layer is included in Android 12 to enable HVEC unsupported apps to utilize video compression.

Reports have also indicated that Google will be making significant design changes to Android 12. The entire look and feel may be quite different from earlier versions. Just how well this expected change will be received remains to be seen.

Android 12 on Samsung devices
Since Samsung brings Android OS upgrades with a new One UI version, we’ll get a lot more with this update. The visual changes that it brings will largely be meaningless for Samsung owners. That’s because One UI is a custom skin with its own visual elements.

Android 12 will likely be introduced with One UI 4.0. There aren’t many details available right now about the features and improvements that we’ll see in the next major One UI iteration.


                                </p>
                                <p>
                                    Android 12 beta for Samsung
The developer preview builds of new Android upgrades aren’t supported on Samsung devices. The only way we’ll be able to participate in it is when Samsung launches the relevant One UI beta. It may be a while before that is made available.

Samsung normally takes a few months even after the public betas become available to launch the new One UI beta. The Android 11 One UI 3.0 public beta was launched in October last year, a month after Google released the stable version of the software.

We can likely expect a similar timeframe for the Android 12 One UI 4.0 beta. Samsung’s most recent high-end phones may be the only devices that are supported for the beta program.
                                </p>

                                <h3>iOS 15 brings new ways to stay connected and powerful features that help users focus, explore, and do more with on-device intelligence</h3>
                                <p>
                                    CUPERTINO, CALIFORNIA Apple today announced iOS 15, a major update with powerful features that enhance the iPhone experience. iOS 15 makes FaceTime calls more natural, introduces SharePlay for shared experiences, helps users focus and be in the moment with new ways to manage notifications, and brings more intelligence to photos and search to quickly access information. Apple Maps unveils beautiful new ways to explore the world, Weather is redesigned with full-screen maps and more graphical displays of data, Wallet adds support for home keys and ID cards, and browsing the internet with Safari is even simpler with a new tab bar design and Tab Groups. iOS 15 also includes new privacy controls in Siri, Mail, and more places across the system to further protect user information.
“For many customers, iPhone has become indispensable, and this year we’ve created even more ways it can enhance our daily lives,” said Craig Federighi, Apple’s senior vice president of Software Engineering. “iOS 15 helps users stay connected while sharing experiences in real time, gives them new tools to help reduce distraction and find focus, uses intelligence to enhance the photos experience, and, with huge upgrades to Maps, brings new ways to explore the world. We can’t wait for customers to experience it.”
                                </p>
                                <p>
                                    FaceTime helps customers easily connect with those who matter most and with iOS 15, conversations with friends and family feel even more natural. With spatial audio, voices in a FaceTime call sound as if they are coming from where the person is positioned on the screen,1 and new microphone modes separate the user’s voice from background noise. Inspired by the stunning portrait photos taken on iPhone, Portrait mode is now available for FaceTime and designed specifically for video calls, so users can blur their background and put themselves in focus.2 While using Group FaceTime, a new grid view enables participants to see more faces at the same time.
                                </p>
                                <h4>HarmonyOS</h4>
                                <p>
                                    On 9 August 2019, Huawei officially unveiled HarmonyOS at its inaugural developers' conference in Dongguan. Huawei described HarmonyOS as a free, microkernel-based distributed operating system for various types of hardware. The company focused primarily on IoT devices, including smart TVs, wearable devices, and in-car entertainment systems, and did not explicitly position HarmonyOS as a mobile OS
HarmonyOS 2.0 launched at the Huawei Developer Conference on 10 September 2020. Huawei announced it intended to ship the operating system on its smartphones in 2021.[34] The first developer beta of HarmonyOS 2.0 was launched on 16 December 2020. Huawei also released the DevEco Studio IDE, which is based on IntelliJ IDEA, and a cloud emulator for developers in early access.
Huawei officially released HarmonyOS 2.0 and launched new devices shipping with the OS in June 2021, and started rolling out system upgrades to Huawei's older phones for users gradually. 

                                </p>
                                <p>
                                    In contrast to Android apps being packaged into APK file format, HarmonyOS apps are released as an APP pack suffixed with .app for distribution at Huawei's AppGallery. 
The AppGallery allows users to download and install Android apps that are compatible with HarmonyOS, and apps that are specifically designed for HarmonyOS in an APP pack.[41] For general differentiation, some HarmonyOS apps are marked with an "HMOS" subscript on the app icon,[42] and an underline beneath the icon to signify the features of service cards available in HarmonyOS for the apps. Apps that are developed using specific HarmonyOS features will not be supported on devices running Android. 
Both HarmonyOS apps and Android apps are allowed to utilize Huawei Mobile Services as an option. However, the distributed communication technology provided in HarmonyOS system is made available for HarmonyOS apps, but not Android apps, based on the design of the operating system. 
As of June 2021, there were reportedly around 500,000 developers participated in developing HarmonyOS apps. 

                                </p>
                                <p>
                                    OpenHarmony is an open-source version of HarmonyOS donated by Huawei to the OpenAtom Foundation. The open-source operating system contains the basic capabilities of HarmonyOS and does not depend on the Android Open Source Project (AOSP).[51] Based on Huawei's LiteOS microkernel, the first version of OpenHarmony is designed for running on IoT devices with less than 128 MB of memory, while OpenHarmony 2.0 has added capabilities to support devices including smartphones with memory greater than 128 MB. 
Conversely, HarmonyOS runs on Huawei's proprietary architecture and has used the AOSP code and a Linux kernel in smartphones to enable the operating system to run Android apps, in addition to HarmonyOS apps, on devices launching Huawei Mobile Services. 

                                </p>
                            </div>
                        </div>
                        <div class="sn-related">
                            <h2>Related News</h2>
                            <div class="row sn-slider">
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="/media/news/ios.png" width="100px">
                                        <div class="sn-title">
                                            <a href="">IOS 15</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="/media/news/windows10.png" width="100px">
                                        <div class="sn-title">
                                            <a href="">windows10</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="/media/news/android1.png" width="100px">
                                        <div class="sn-title">
                                            <a href="">Android</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="/media/news/android12.png" width="100px">
                                        <div class="sn-title">
                                            <a href="">Android 12</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="/media/news/Harmony.png" width="100px">
                                        <div class="sn-title">
                                            <a href="">HarmonyOs</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="/media/news/Mi1.jpg" width="100px">
                                        <div class="sn-title">
                                            <a href="">MIUI</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h2 class="sw-title">In This Category</h2>
                                <div class="news-list">
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="/media/news/pinterest1.png" width="200px">
                                        </div>
                                        <div class="nl-title">
                                            <a href="">Pinterest is a new way of communication</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="/media/news/twitch.png" width="200px">
                                        </div>
                                        <div class="nl-title">
                                            <a href="">Best Application for Gaming community</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="/media/news/youtube.png" width="200px">
                                        </div>
                                        <div class="nl-title">
                                            <a href="">Streaming on youtube channel</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="/media/news/Snapchat.png" width="200px">
                                        </div>
                                        <div class="nl-title">
                                            <a href="">Enjoy your momnet and make own videos</a>
                                        </div>
                                    </div>
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="/media/news/Telegram.png" width="200px">
                                        </div>
                                        <div class="nl-title">
                                            <a href="">Chat with your friends any time</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="sidebar-widget">
                                <div class="image">
                                    <a href=""><img src="/media/news/Social.png" alt="Image" width="200px"></a>
                                </div>
                            </div>
                            
                            <div class="sidebar-widget">
                                <div class="tab-news">
                                    <ul class="nav nav-pills nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="featured" class="container tab-pane active">
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/iphone12.png" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Iphone 12 Release</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/SamsungS21.jpg" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Samsung S21 is revoloutinary device</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/Xiami2.jpg" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Xiami Redmi</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/Huawi2.png" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Huawi p40 Pro 5G</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/Nokia.png" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Nokia Latest Smartphone</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="popular" class="container tab-pane fade">
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/Nokia.png" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Nokia Latest Smartphone</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/Xiami2.jpg" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Xiami Redmi</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/SamsungS21.jpg" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Samsung S21 is revoloutinary device</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/iphone12.png" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Iphone 12 Release</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/Huawi2.png" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Huawi p40 Pro 5G</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="latest" class="container tab-pane fade">
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/Nokia.png" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Nokia Latest Smartphone</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/Huawi2.png" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Huawi p40 Pro 5G</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/Xiami2.jpg" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Xiami Redmi</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/SamsungS21.jpg" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Samsung S21 is revoloutinary device</a>
                                                </div>
                                            </div>
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="/media/news/iphone12.png" width="200px">
                                                </div>
                                                <div class="tn-title">
                                                    <a href="">Iphone 12 Release</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="sidebar-widget">
                                <div class="image">
                                    <a href=""><img src="/media/news/Tech.png" alt="Image" width="200px"></a>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h2 class="sw-title">News Category</h2>
                                <div class="category">
                                    <ul>
                                        <li><a href="">SmartPhone</a><span>(98)</span></li>
                                        <li><a href="">Operationg System</a><span>(87)</span></li>
                                        <li><a href="">Instagram</a><span>(76)</span></li>
                                        <li><a href="">Twitter</a><span>(65)</span></li>
                                        <li><a href="">Linkdin</a><span>(54)</span></li>
                                        <li><a href="">Pinterest</a><span>(43)</span></li>
                                        <li><a href="">Social Media</a><span>(32)</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <div class="image">
                                    <a href=""><img src="/media/news/Tag.png" alt="Image" width="200px"></a>
                                </div>
                            </div>
                            
                            <div class="sidebar-widget">
                                <h2 class="sw-title">Tags Cloud</h2>
                                <div class="tags">
                                    <a href="">Operating systems</a>
                                    <br>
                                    <a href="">Social Media</a>
                                    <br>
                                    <a href="">Technology</a>
                                    <br>
                                    <a href="">Telegram News</a>
                                    <br>
                                    <a href="">Facebook</a>
                                    <br>
                                    <a href="">MUI12</a>
                                    <br>
                                    <a href="">IOS 15</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single News End-->   


{% endblock %}
